option,
.MuiNativeSelect-select:not([multiple]) optgroup {
  background: rgba(0, 0, 0, 0.4) !important;
  color: #fff;
}

.formcontrole {
  width: 30%;
  margin: 30px !important;
}

@media (max-width: 770px) {
  .formcontrole {
    width: 80%;
  }
}
